.report-headers {
    display: flex;
    flex-direction: row;
    padding: 30px;
    flex-wrap: wrap;
}

.report-item {
    flex-grow: 1;
    width: max-content;
    padding: 20px;
    border-radius: 12px;
    margin: 10px;
    color: white;
    background-color: #65c77e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #2aa148;

    h3, h4 {
        margin: 0;
        padding: 0;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        color: #054415;
    }
}

.canvases {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    width: 100%;
}

.canvases > canvas {
    width: 500px !important;
    height: 250px!important;
}

#generatePDF {
    background-color: #12a80d;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #12a80d;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    width: max-content;
    float: right;
    margin-right: 10px;
}

#generatePDF:hover {
    background-color: #095f06;
    border: 2px solid #095f06;
}