.content-section {
    display: flex;
    flex-direction: column;
}

.headbar {
    display: flex;
    flex-direction: row;
    margin-inline: 25px;
    margin-bottom: 10px;
}
  
.search-input {
    width: 200px;
    padding: 8px;
    margin-right: 5px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}
  
.search-button {
    padding: 8px 16px;
    border: none;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    color: #20794c;
    border: 1px solid #20794c;
    transition: all 0.3s ease;
}
  
.search-button:hover {
    background-color: #20794c;
    color: #fff;
}

.table-section {
    flex-grow: 1;
    margin-inline: 25px;
}

.enrollees-table {
    width: 100%;
    border-collapse: collapse;
}

.enrollees-table tbody tr {
    border-top: 0.5px solid #AEBAC3;
    transition: box-shadow 0.1s ease;
}

.enrollees-table tbody tr:hover {
    box-shadow: inset 5px 0 0 0 #35a564, inset -5px 0 0 0 #35a564;
}
  
.enrollees-table th {
    text-align: left;
    font-weight: lighter;
    padding-inline: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    font-size: 1rem;
    color: #ffffff;
    background-color: #20794c;
}

.enrollees-table td {
    padding: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 0.9rem;
    cursor: default;
}
  
.enrollees-table td img {
    width: 35px;
    cursor: pointer;
}

#enrollee-action svg {
    width: 25px;
    height: 25px;
    stroke: #1b1b1f;
    transition: all 0.3s ease;
}

#enrollee-action > svg:nth-child(1) {
    stroke: #1dc925;
}

#enrollee-action > svg:nth-child(2) {
    stroke: #c51616;
    fill: #c51616;
}

#enrollee-action svg:hover {
    cursor: pointer;
}