@font-face {
    font-family: 'NotoFont';
    src: url('../fonts/NotoSans-Regular.ttf') format('truetype');
}

html, body {
    font-family: "NotoFont", sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #fff;
}

.general-label-value {
    display: flex;
    flex-direction: column;

    h3 {
        margin: 0;
        margin-bottom: 2px;
        padding: 0;
    }

    p {
        margin: 0;
        padding: 0;
    }
}